// Colors
$primary-color: #0b9442;
$black: #000;
$white: #fff;
$gray: #848484;
$border-color:#d8dbdd;
$primary-font: 'butlerbold';
$secondary-font: 'bebas_neue_regular';
$icon-font: 'FontAwesome';
$text-color: $black;
$text-color-dark: $primary-color;
$btn-color: $primary-color;
$body-color: #0c5460;